<html>
<head>
    <title> MathPlace </title>
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <!-- <script type="text/javascript" src="scripts/jquery.js"></script>
    <script type="text/javascript" src="scripts/script.js"></script> -->
</head>
<body>
    <a href="#MenuBlock"> <div id="BackToMenuButton"> </div> </a>
    <div id="Main">
        <div id="design3" class="gradient"></div>
        <div id="DownloadButton" class="gradient"> <a href="#Download"> <div id="DownloadButtonText"> </div> </a> </div>
    </div>
    <div id="MenuBlock" class="gradient">
        <a href="#Main"> <div id="MainMenuButton"> </div> </a>
        <a href="#Feature"> <div id="FeatureMenuButton"> </div> </a>
        <a href="#Topics"> <div id="TopicsMenuButton"> </div> </a>
        <a href="#Task"> <div id="TaskMenuButton"> </div> </a>
        <a href="#Download"> <div id="DownloadMenuButton"> </div> </a>
        <a href="#AboutDevelopers"> <div id="AboutDevelopersMenuButton"></div> </a>
        <a href="#AboutUs"> <div id="AboutUsMenuButton"> </div> </a>
    </div>
    <div id="Feature">
        <div id="design6" class="gradient"></div>
        <div id="design5" class="gradient"></div>
    </div>
    <div id="Topics" class="gradient">
        <div id="design4" class="gradient"></div>
        <div id="design5" class="gradient"></div>
        <a href="PreviousTopic"> <div id="PreviousTopics"> </div> </a>
        <div id="FirstTopic" class="Topics">

        </div>
        <div id="SecondTopic" class="Topics">

        </div>
        <div id="ThirdTopic" class="Topics">

        </div>
        <div id="FourthTopic" class="Topics">

        </div>
        <a href="NextTopic"> <div id="NextTopics"></div> </a>
    </div>
    <div id="Task">
        <div id="design4" class="gradient"></div>
        <div id="design3" class="gradient"></div>
        <a href="#Task-Text"> <div id="TaskText"> </div> </a>
        <a href="#Task-Button"> <div id="TaskButton" class="gradient"> <div id="TaskButtonText"> </div> </div> </a>
        <input type="text" id="TaskIn">
</div>
    <div id="TaskResultSucsessful"> </div>
    <div id="TaskResultnotSucsessful"> </div>
    <div id="Download" class="gradient">
        <div id="GooglePlayBox">
            <a class="abutton" href="www.helllab.ru"> <div id="GooglePlay_DownloadButton"> </div> </a>
        </div>
        <div id="AppStoreBox">
            <a class="abutton" href="www.helllab.ru"> <div id="AppStore_DownloadButton"> </div> </a>
        </div>
        <div id="DownloadAPKBox">
            <a class="abutton" href="www.helllab.ru"> <div id="DownloadAPK_DownloadButton"> </div></a>
        </div>
    </div>
    <div id="AboutDevelopers">
        <div id="design3" class="gradient"></div>
        <div id="design6" class="gradient"></div>
        <div id="AboutDevelopersHeader"> </div>
        <div id="Web1"> </div>
        <div id="Web1Text"> </div>
        <div id="Web2"> </div>
        <div id="Web2Text"> </div>
        <div id="Web3"> </div>
        <div id="Web3Text"> </div>
        <div id="Web4"> </div>
        <div id="Web4Text"> </div>
        <div id="Web5"> </div>
        <div id="Web5Text"> </div>
        <div id="Web6"> </div>
        <div id="Web6Text"> </div>
        <div id="Web7"> </div>
        <div id="Web7Text"> </div>
    </div>
    <div id="AboutUs" class="gradient">
        <div id="headerAboutUs"></div>
        <a href="vk.com"> <div id="vkontakte"></div> </a>
        <a href="instagram.com"> <div id="instagram"></div> </a>
        <a href="facebook.com"> <div id="facebook"></div> </a>
        <a href="telegam.com"> <div id="telegram"></div> </a>
    </div>
</body>
</html>